@page
@model WebApplication7.Pages.Calendars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calendar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calendar.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calendar.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calendar.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calendar.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calendar.Lyrics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calendar.Lyrics)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Calendar.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
